  <%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/authForm.css">
  </head>

  <body>
    <header>
      <%- include('../includes/navigation.ejs') %>
    </header>
    <main class="not-auth">
      <form action="/signup" method="POST" class="auth--form" onsubmit="onFormSubmit(event)">
        <p class="title">Załóż konto</p>
        <% errors.forEach(error => {
          if (error.path === 'name') { %>
            <div class="error flex" id="name--invalid"><%= error.msg %></div>
        <% }}) %> 
        <div class="error" id="name--hidden">
          <p>Podaj proszę poprawne imię !</p>
        </div>
        <div class="form-control">
          <label for="name" class="form-label">Podaj imię: </label>
          <input class="form-input" type="text" id="name" name="name" value="<%= oldInput ? oldInput.name : '' %>">
        </div>
        <% errors.forEach(error => {
          if (error.path === 'surname') { %>
            <div class="error flex" id="surname--invalid"><%= error.msg %></div>
        <% }}) %> 
        <div class="error" id="surname--hidden">
          <p>Podaj proszę poprawne nazwisko !</p>
        </div>
        <div class="form-control">
          <label for="surname" class="form-label">Podaj nazwisko:</label>
          <input class="form-input" type="text" id="surname" name="surname" value="<%= oldInput ? oldInput.surname : '' %>">
        </div>
        <% errors.forEach(error => {
          if (error.path === 'email') { %>
            <div class="error flex" id="email--invalid">
                <p><%= error.msg %></p>
            </div>
        <% }}) %> 
        <div class="error" id="email--hidden">
          <p>Podaj poprawny email !</p>
        </div>
        <div class="form-control">
          <label for="email" class="form-label">Podaj email:</label>
          <input class="form-input" type="email" id="email" name="email" value="<%= oldInput ? oldInput.email : '' %>">
        </div>
        <% errors.forEach(error => {
          if (error.path === 'password') { %>
            <div class="error flex" id="password--invalid"><%= error.msg %></div>
        <% }}) %> 
        <div class="error" id="password--hidden">
          <p>Podaj hasło które ma conajmniej 6 znaków oraz posiada tylko cyfry bądź litery !</p>
        </div>
        <div class="form-control">
          <label for="password" class="form-label">Podaj hasło: </label>
          <input class="form-input" type="password" id="password" name="password" value="<%= oldInput ? oldInput.password : '' %>">
        </div>
        <% errors.forEach(error => {
          if (error.path === 'confirmPassword') { %>
            <div class="error flex" id="confirmPassword--invalid"><%= error.msg %></div>
        <% }}) %> 
        <div class="error" id="confirmPassword--hidden">
          <p>Hasła muszą się zgadzać !</p>
        </div>
        <div class="form-control">
          <label for="confirmPassword" class="form-label">Powtórz hasło: </label>
          <input class="form-input" type="password" id="confirmPassword" name="confirmPassword" value="<%= oldInput ? oldInput.confirmPassword : '' %>">
        </div>
        <div class="form-control">
          <button type="submit" class="message-item-button">Załóż konto</button>
        </div>
      </form>
    </main>

    <script>
      const isNameOrSurname = (name) => {
        return /^[a-zA-ZąĄćĆęĘłŁńŃóÓśŚźŹżŻ]+$/.test(name);
      }

      const isEmail = (email) => {
        return /(?:[a-z0-9+!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/gi.test(email)
      }

      const isPassword = (password) => {
        return /^[a-zA-Z0-9]+$/.test(password) && password.length > 5
      }

      const doPasswordsMatch = (password, confirmPassword) => {
        return password == confirmPassword
      }

      const resetErrorMessages = (allFields) => {
        allFields.forEach(field => {
          console.log(field.id);
          const hiddenItem = document.getElementById(`${field.id}--hidden`);
          const backendItem = document.getElementById(`${field.id}--invalid`);
          hiddenItem.style.display = 'none';
          if (backendItem) {
            backendItem.style.display = 'none';
          }
        })
      }

      const onFormSubmit = () => {
        const fields = [
          {id: 'name', validator: isNameOrSurname}, 
          {id: 'surname', validator: isNameOrSurname},
          {id: 'email', validator: isEmail},
          {id: 'password', validator: isPassword},
          {id: 'confirmPassword', validator: doPasswordsMatch}
         ]
        
        const errors = [];

        resetErrorMessages(fields);

        fields.forEach(field => {
          if (field.id === 'confirmPassword') {
            const passwordInputValue = document.getElementById('password').value;
            const confirmPasswordInputValue = document.getElementById(field.id).value
            if (!field.validator(passwordInputValue, confirmPasswordInputValue)) {
              errors.push({id: `${field.id}--hidden`})
            }
            return
          }
          const inputValue = document.getElementById(field.id).value;
          if (!field.validator(inputValue)) {
            errors.push({id: `${field.id}--hidden`})
          }
        })

        console.log(errors);

        if (errors.length > 0) {
          event.preventDefault();
          errors.forEach(error => {
            const item = document.getElementById(error.id);
            item.style.display = 'flex';
            item.style.justifyContent = 'center';
            item.style.alignItems = 'center';
          })
        }

        }

    </script>
  </body>

</html>
