<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/Form.css">
</head>

<body>
  <%- include('../includes/logout-overlay.ejs')%>
  <header>
    <%- include('../includes/navigation.ejs') %>
  </header>
  <main class="auth">
    <form action="/add-campaign" method="POST" class="form" onsubmit="onFormSubmit(event)">
      <input type="hidden" name="CSRFToken" value=<%= token %>>
        <p class="title">Dodaj kampanię</p>
        <% errors.forEach(error => {
          if (error.path === 'title') { %>
            <div class="error flex" id="title--invalid"><%= error.msg %></div>
        <% }}) %> 
        <div class="error" id="title--hidden">
          <p>Nie używaj polskich znaków w nazwie kampanii !</p>
        </div>
        <div class="form-control">
            <label for="title" class="form-label">Podaj nazwę kampanii (nie polskie znaki): </label>
            <input class="form-input" type="text" id="title" name="title" required>
        </div>
        <div class="form-control">
            <label for="endTime" class="form-label">Wybierz datę zakończenia kampanii: </label>
            <input class="form-input" type="date" id="endtime" name="endtime" min="<%= `${new Date().getFullYear()}-${(new Date().getMonth() + 1).toString().padStart(2, '0')}-${new Date().getDate().toString().padStart(2, '0')}`%>" max="<%= `${new Date(new Date().setDate(new Date().getDate() + 30)).getFullYear()}-${(new Date(new Date().setDate(new Date().getDate() + 30)).getMonth() + 1).toString().padStart(2, '0')}-${new Date(new Date().setDate(new Date().getDate() + 30)).getDate().toString().padStart(2, '0')}`%>"required>
        </div>
        <div class="form-control">
          <label for="delegationAmount" class="form-label">Podaj ilość pieniędzy otrzymywanych dziennie za delegację: </label>
          <input type="number" class="form-input" id="delegationAmount" name="delegationAmount" required>
        </div>
        <div class="form-control">
            <button type="submit" class="message-item-button">Dodaj</button>
        </div>
    </form>
  </main>
  <%-include('../includes/logout.ejs')%>
  <script>
    const isCorrectFilename = (name) => {
       console.log(/^[\x20-\x7E\x80-\xFF]+$/.test(name))
       return /^[\x20-\x7E\x80-\xFF]+$/.test(name);
     }

     const resetErrorMessages = (allFields) => {
       allFields.forEach(field => {
         console.log(field.id);
         const hiddenItem = document.getElementById(`${field.id}--hidden`);
         const backendItem = document.getElementById(`${field.id}--invalid`);
         hiddenItem.style.display = 'none';
         if (backendItem) {
           backendItem.style.display = 'none';
         }
       })
     }

     const onFormSubmit = () => {
       const fields = [
         {id: 'title', validator: isCorrectFilename}, 
        ]
       
       const errors = [];

       resetErrorMessages(fields);

       fields.forEach(field => {
         const inputValue = document.getElementById(field.id).value;
         console.log(inputValue);
         if (!field.validator(inputValue)) {
           errors.push({id: `${field.id}--hidden`})
         }
       })


       if (errors.length > 0) {
         event.preventDefault();
         errors.forEach(error => {
           const item = document.getElementById(error.id);
           item.style.display = 'flex';
           item.style.justifyContent = 'center';
           item.style.alignItems = 'center';
         })
       }

       }
   
 </script>
</body>

</html>