<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/campaign.css">
<script
      src="https://kit.fontawesome.com/5410e8ffe4.js"
      crossorigin="anonymous"
    ></script>
</head>

<body>
  <%- include('../includes/logout-overlay.ejs')%>
  <header>
    <%- include('../includes/navigation.ejs') %>
  </header>
    <main class="auth">
      <% if (!isCampaign) {%>
      <div class="no-campaign">
        <p>Kampania nie została rozpoczęta</p>
        <a type="button" class="message-item-button" href="/add-campaign">Dodaj kampanię</a>
      </div>
      <% } else {%>
        <div class="campaign-control">
          <div class="message-control">
              <% let daysLeft = Math.ceil((presentCampaign.endtime- new Date())/(1000*3600*24))%>
              <% if (daysLeft >= 0) { %>
                <h1>Do końca kampani pozostało: <%= daysLeft %> dni</h1>
                <h2>Bieżące wydatki: <%= allEmpSalarySum %> PLN</h2>
              <%} else {%>
                <h1>Kampania zakończyła się: <%= -daysLeft %> dni temu</h1>
                <h2>Bieżące wydatki: <%= allEmpSalarySum %> PLN</h2>
              <%}%>
          </div>
          <div class="message-control">
              <h2>Top 3 Opłacanych pracowników: </h2>
              <ol>
                  <% topEmps.forEach(emp => { %>
                    <li> <%=emp.name%> <%=emp.surname%> - <span class="italic"><%= emp.monthSalary %> PLN</span></li>
                  <% })%>
              </ol>
              <nav class="campaign-bar">
                  <a type="button" class="message-item-button button-campaigns" href="/campaign-details">Szczegóły kampanii</a>
                  <% if (daysLeft > 0) {%>
                    <button class="message-item-button button-campaings" disabled>Zakończ kampanię</button>
                  <% } else {%>
                    <a type="button" class="message-item-button button-campaigns" href="/end-campaign">Zakończ kampanię</a>
                  <% } %>
                  <form action="/delete-campaign/<%= presentCampaign._id %>" method="POST">
                    <input type="hidden" name="CSRFToken" value=<%= token %>>
                    <button type="submit" class="message-item-button button-campaigns">Usuń kampanię</button>
                  </form>
              </nav>
          </div>
      </div>
      <% } %>
    </main>
    <%-include('../includes/logout.ejs')%>
</body>
</html>