<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/employees.css">
</head>

<body>
    <%- include('../includes/logout-overlay.ejs')%>
    <header>
        <%- include('../includes/navigation.ejs')%>
    </header>
    <main class="auth">
        <% if (employees) {%>
        <div class="table-control">
        <table>
                <thead>
                <tr>
                    <td class="option--item">
                        <div class="option--item-control">
                            <p>Sortuj: </p>
                            <select id="sort-select">
                                <option>-</option>
                                <option>Alfabetycznie (rosnąco)</option>
                                <option>Alfabetycznie (malejąco)</option>
                                <option>Wg zarobionych pieniędzy (rosnąco)</option>
                                <option>Wg zarobionych pieniędzy (malejąco)</option>
                            </select>
                        </div>
                    </td>
                    <td class="option--item">
                        <div class="option--item-control">
                            <input type="text" placeholder="Szukaj..." id="search-input">
                        </div>
                    </td>
                </tr>
            </thead> 
        </table>
            <table>
                <thead>
                        <tr>
                            <th>Imię i nazwisko</th>
                            <th>Zarobione pieniędze</th>
                            <th>Ilość dni w pracy</th>
                            <th>Szczegóły pracownika</th>
                        </tr>
                </thead>
                <tbody>
                    <% for (let employee of employees) { %>
                        <tr class="employee-row" id=<%= employee._id %>>
                            <td class="employee-full-name"><%= employee.employeeId.name %>  <%= employee.employeeId.surname %></td>
                            <td>2000 PLN</td>
                            <td>12</td>
                            <td>
                                <a type="button" class="btn-employee" href='/employee-details/<%= employee.employeeId._id%>'>Szczegóły pracownika</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <% } else { %>
            <div class="no-employees">
                <p>Nie dodałeś żadnych pracowników</p>
                <a type="button" class="message-item-button" href="/add-employee">Dodaj pracownika</a>
            </div>
        <%}%>
    </main>
    <%-include('../includes/logout.ejs')%>
    <%-include('../includes/sorting.ejs')%>
    <%-include('../includes/searching.ejs')%>
</body>