<%- include('../includes/head.ejs') %>
<script
      src="https://kit.fontawesome.com/5410e8ffe4.js"
      crossorigin="anonymous"
    ></script>
<link rel="stylesheet" href="/css/employees.css">
<link rel="stylesheet" href="/css/employee-details.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


</head>

<body>
    <%- include('../includes/logout-overlay.ejs')%>
    <header>
      <%- include('../includes/navigation.ejs') %>
    </header>
    <main class="auth">
        <div class="employee-control">
            <div class="info-control">
              <div class="title-control">
                <img src="/css/blank-profile-picture-973460_640.png" alt="User image">
                <p class="full-name"><%= employee.employeeId.name + " " + employee.employeeId.surname%></p>
            </div>
            <div class="table-control employee-details">
              <table>
                  <thead>
                    <tr>
                      <th>Zarobione pieniądze (PLN)</th>
                      <th>Dni w pracy</th>
                      <th>Stawka na godzinę (PLN)</th>
                      <th>Czy kierowca</th>
                      <th>Godzin na dzień</th>
                      <th>Premia (PLN)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%=employee.monthSalary%></td>
                      <td><%= employee.workdays.daysNormal.length + employee.workdays.daysDelegation.length %></td>
                      <td><%= employee.employeeId.hourlyRate%></td>
                      <td><%= employee.employeeId.isDriver ? `Tak (${employee.employeeId.driverAmount} PLN)` : 'Nie'%></td>
                      <td><%= employee.employeeId.dailyHours%></td>
                      <td><%=employee.bonusAmount%></td>
                    </tr>
                  </tbody>
              </table>
            </div>
            </div>
            
            <form action="/update-workdays/<%= employee.employeeId._id%>" method="POST">
              <input type="hidden" name="CSRFToken" value=<%= token %>>
              <div class="date-control">
                <p class="days-selection-msg">Zaznacz dni na delegacji: </p>
                <input type="text" id="datepicker-delegation" name="datesDelegation" placeholder="dates" data-multiple readonly>
              </div>
              <div class="date-control">
                <p class="days-selection-msg">Zaznacz pozostałe dni: </p>
                <input type="text" id="datepicker-normal" name="datesNormal" placeholder="dates" data-multiple readonly>
              </div>
              <div class="bonus-control">
                <p class="bonus-msg">Podaj ilość premii: </p>
                <input type="number" name="bonus" id="bonus" value=<%= employee.bonusAmount %>>
              </div>
              <nav class="emp-details-bar">
                <a type="button" class="message-item-button" href="/edit-employee/<%= employee.employeeId._id%>">Edytuj dane podstawowe</a>
                <button class="message-item-button" type="submit">Aktualizuj dane</button>
              </nav>
            </form>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
      const minDate = new Date('<%= campaignEndTime.toISOString() %>');
      minDate.setDate(<%= campaignEndTime.getDate() - 30 %>);

      const minDateYear = minDate.getFullYear()
      const maxDateYear = <%= campaignEndTime.getFullYear()%> 

      const minDateMonth = (minDate.getMonth() + 1).toString().padStart(2, '0');
      const maxDateMonth = <%= (campaignEndTime.getMonth() + 1).toString().padStart(2, '0')%>;

      const minDateDay = minDate.getDate().toString().padStart(2, '0');
      const maxDateDay = <%= campaignEndTime.getDate().toString().padStart(2, '0')%> 

      const normalWorkdaysStrings = <%- JSON.stringify(employee.workdays.daysNormal) %>;
      const normalWorkdaysDates = normalWorkdaysStrings.map(dateString => new Date(dateString));
      
      const delegationWorkdaysStrings = <%-JSON.stringify(employee.workdays.daysDelegation)%>;
      const delegationWorkdaysDates = delegationWorkdaysStrings.map(dateString => new Date(dateString));

      document.addEventListener('DOMContentLoaded', function() {
  const normalDatePicker = flatpickr('#datepicker-normal', {
    mode: 'multiple',
    dateFormat: 'Y-m-d',
    inline: true,
    minDate: `${minDateYear}-${minDateMonth}-${minDateDay}`,
    maxDate: `${maxDateYear}-${maxDateMonth}-${maxDateDay}`,
    defaultDate: normalWorkdaysDates,
    disable: delegationWorkdaysDates,
    onChange: function(selectedBasicDates, dateStr, instance) {
      delegationDatePicker.set('disable', selectedBasicDates);
    }
  });

  const delegationDatePicker = flatpickr('#datepicker-delegation', {
    mode: 'multiple',
    dateFormat: 'Y-m-d',
    inline: true,
    minDate: `${minDateYear}-${minDateMonth}-${minDateDay}`,
    maxDate: `${maxDateYear}-${maxDateMonth}-${maxDateDay}`,
    defaultDate: delegationWorkdaysDates,
    disable: normalWorkdaysDates,
    onChange: function(selectedDelegationDates, dateStr, instance) {
      normalDatePicker.set('disable', selectedDelegationDates);
    }
  });

});
    </script>
</body>