<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/employees.css">
</head>

<body>
    <%- include('../includes/logout-overlay.ejs')%>
    <header>
        <%- include('../includes/navigation.ejs')%>
    </header>
    <main class="auth">
        <% if (employees) {%>
        <a class="message-item-button btn-employees" href="/add-employee">Dodaj pracownika</a>
        <div class="table-control">
        <table>
                <thead>
                <tr>
                    <td class="option--item">
                        <div class="option--item-control">
                            <p>Sortuj: </p>
                            <select id="sort-select" name="employees">
                                <option>-</option>
                                <option>Alfabetycznie (rosnąco)</option>
                                <option>Alfabetycznie (malejąco)</option>
                                <option>Wg stawki (rosnąco)</option>
                                <option>Wg stawki (malejąco)</option>
                            </select>
                        </div>
                    </td>
                    <td class="option--item">
                        <div class="option--item-control">
                            <input type="text" placeholder="Szukaj..." id="search-input">
                        </div>
                    </td>
                </tr>
            </thead> 
        </table>
            <table>
                <thead>
                        <tr>
                            <th>Imię i nazwisko</th>
                            <th>Stawka za godzinę</th>
                            <th>Czy kierowca</th>
                            <th>Godzin na dzień</th>
                            <th>Edytuj</th>
                            <th>Usuń</th>
                        </tr>
                </thead>
                <tbody>
                    <% for (let employee of employees) { %>
                        <tr class="employee-row" id='<%= employee.randomId %>'>
                            <td class="employee-full-name"><%= employee.name %>  <%= employee.surname %></td>
                            <td><%= employee.hourlyRate %></td>
                            <td><%= employee.isDriver === true ? 'Tak' : 'Nie' %> <%=`${employee.driverAmount ? `(${employee.driverAmount} zł)` : ''}`%></td>
                            <td><%= employee.dailyHours %></td>
                            <td>
                                <a type="button" class="btn-employee" href="/edit-employee/<%= employee._id %>">Edytuj</a>
                            </td>  
                            <td>
                                <form action="/delete-employee/<%= employee._id %>" method="POST">
                                    <input type="hidden" name="CSRFToken" value=<%= token %>>
                                    <button type="submit" class="btn-employee">Usuń</button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <% } else { %>
            <div class="no-employees">
                <p>Nie dodałeś żadnych pracowników</p>
                <a type="button" class="message-item-button" href="/add-employee">Dodaj pracownika</a>
            </div>
        <%}%>
    </main>
    <%-include('../includes/logout.ejs')%>
    <%-include('../includes/sorting.ejs')%>
    <%-include('../includes/searching.ejs')%>
</body>